{% extends 'page.njk' %}

{% block content %}
<main>
	<h2 class="error-message">404</h2>
	<p>Oops, it looks like that page couldn't be found! <a href="{{ site.url }}/">Take me to the search page</a>.</p>
</main>
{% endblock %}
