{% extends 'page.njk' %}

{% block content %}
<main class="row">
	<div class="col s12 l6 xl4 offset-l3 offset-xl4">
		<p>Oops, it looks like that page couldn't be found!</p>
	</div>
</main>
{% endblock %}
