{% extends 'page.njk' %}

{% block content %}
<label class="hidden" for="search">Search:</label>
<input type="text" name="search" role="search" placeholder='"planet of the apes"' autofocus />
<main role="main"></main>
{% endblock %}
