<!doctype html>
<html lang="en">
	<head>
		<title>rtlite</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/6.0.0/normalize.min.css" />
		<link rel="stylesheet" href="/css/index.css" />
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="/js/main.js"></script>
	</head>
	<body>
		<h1>rt_lite</h1>
		<input type="text" name="search" placeholder="Enter search terms" autofocus />
		<main></main>
	</body>
</html>
