<!doctype html>
<html lang="en">
	{% include '_partials/head.njk' %}
	<body>
		{% include '_partials/header.njk' %}
		<form action="{{ site.url }}" method="post">
			<label class="hidden" for="search" aria-label="Search">Search:</label>
			<input type="text" name="search" role="search" placeholder='"planet of the apes"' autofocus {% if searchTerms %}value="{{ searchTerms }}"{% endif %} />
		</form>
		<main role="main">
			{% block content %}{% endblock %}
		</main>
		{% include '_partials/footer.njk' %}
		{% include '_partials/scripts.njk' %}
	</body>
</html>
