{% extends 'page.njk' %}

{% block content %}
	<div class="privacy">
		<h2>Privacy Policy</h2>
		<p>Users of this site are not required to provide any personal information in exchange for access.  Logs are kept of searches, but the only data recorded is the HTTP method, the requested URL, and the response status code.  A sample log excerpt is below:</p>
		<code>GET,/film/planet-of-the-apes,200</code>
		<p>The site does utilize the official Rotten Tomatoes website for data, with the user's search terms being sent as a request.  As such, no personally identifiable information is provided to Rotten Tomatoes.</p>
		<p>Further, this site and all code contained within is published under the <a href="https://www.gnu.org/licenses/gpl-3.0.en.html">GNU General Public License v3</a> and hosted on <a href="https://github.com/gabeotisbenson/rt_lite">GitHub</a>.  As such, all users are free to inspect the code to verify the claims presented here.</p>
	</div>
{% endblock %}
