green = #43a047
green-darken = #2e7d32
red = #e53935
red-darken = #c62828
gray = #616161
gray-darken = #212121

html, body
	font-size: 100%
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Fira Sans", sans-serif
	width: 100%
	height: 100%
	margin: 0
	text-align: center
	display: flex
	flex-direction: column
	justify-content: space-between
	header
		h1
			font-size: 3rem
			font-weight: 600
			letter-spacing: .75rem
	form
		label.hidden
			display: none
		input[name='search']
			font-size: 1rem
			width: calc(100% - 3rem)
			max-width: 53rem
			margin: 0 auto 2rem
			background-color: transparent
			border: none
			border-bottom: 1px solid #666
			border-radius: 0
			box-shadow: none
			padding: .5rem
			&:focus
				border-bottom: 1px solid #26a69a
				box-shadow: 0 1px 0 0 #26a69a
				outline: none
			&::-moz-placeholder
				opacity: .25
			&::-webkit-input-placeholder
				opacity: .35
	main
		width: 100%
		max-width: 54rem
		margin: auto
		flex-grow: 1
		h2.error-message
			font-size: 5rem
		ul.movie-list
			list-style-type: none
			padding: 0 1rem
			margin: 0
			a
				text-decoration: none
				outline: 0
			li.movie-block
				color: white
				padding: 1rem
				display: flex
				justify-content: space-between
				align-items: stretch
				margin-bottom: 1rem
				min-height: 5rem
				box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)
				transition: all 0.3s cubic-bezier(.25,.8,.25,1)
				will-change: box-shadow
				&:hover
					box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)
				&.fresh, &.certified_fresh
					background: green
					background: -webkit-linear-gradient(to right, green-darken, green)
					background: linear-gradient(to right, green-darken, green)
				&.rotten
					background: red
					background: -webkit-linear-gradient(to right, red-darken, red)
					background: linear-gradient(to right, red-darken, red)
				&.no-consensus
					background: gray
					background: -webkit-linear-gradient(to right, gray-darken, gray)
					background: linear-gradient(to right, gray-darken, gray)
				span
					display: flex
					flex-direction: column
					justify-content: center
					&.movie-title
						font-size: 1.5rem
						text-align: left
						@media screen and (max-width: 300px)
							font-size: 1rem
					&.movie-score
						font-size: 3rem
						font-weight: 700
						margin-left: 3rem
		div.privacy
			p
				text-align: left
				line-height: 1.6em
			code
				display: block
				background: #333
				color: #fff
				padding: 1rem
				text-align: left
	footer
		font-size: .75rem
		line-height: 1.6em
		display: flex
		justify-content: center
		p
			margin: 1rem
			display: block
			span.copyleft
				display: inline-block
				transform: scale(-1, 1)
			a
				&:link, &:visited
					&, &:active
						text-decoration: none
						color: inherit
						&:hover
							text-decoration: underline
