amber = #ffb300
amber-darken = #ff8f00
green = #43a047
green-darken = #2e7d32
red = #e53935
red-darken = #c62828
gray = #616161
gray-darken = #212121

html, body
	font-size: 100%
	font-family: 'Noto Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", "Fira Sans", sans-serif
	width: 100%
	margin: auto
	header
		h1
			text-align: center
			font-size: 3rem
		h2
			text-align: center
			font-size: 1rem
			font-style: italic
	main
		div.row
			margin-bottom: 0 !important
		p.center
			text-align: center
		div.card
			min-height: 6.9rem
			&.fresh, &.certified_fresh
				background: green
				background: -webkit-linear-gradient(to right, green-darken, green)
				background: linear-gradient(to right, green-darken, green)
			&.rotten
				background: red
				background: -webkit-linear-gradient(to right, red-darken, red)
				background: linear-gradient(to right, red-darken, red)
			&.no-consensus
				background: gray
				background: -webkit-linear-gradient(to right, gray-darken, gray)
				background: linear-gradient(to right, gray-darken, gray)
			// div.card-image
			// 	display: flex
			// 	flex-direction: column
			// 	justify-content: center
			// 	padding-left: 1rem
			// 	img
			// 		max-width: 2.3rem
			// 		max-height: 3.25rem
			// 	span.card-title
			// 		font-size: 3rem
			// 		line-height: 3rem
			// 		font-weight: bold
			div.card-content
				display: flex
				justify-content: space-between
				width: 100%
				span
					display: flex !important
					flex-direction: column
					justify-content: center
					&.movie-score
						margin-left: 1rem
						font-size: 3rem
						font-weight: bold
