<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
	<meta name="robots" content="index, follow" />
	<link rel="home" href="/" />
	<meta name="generator" content="My bare hands" />
	<link rel="shortcut icon" href="{{ site.url }}favicon.ico" />
	<link rel="icon" type="image/png" href="{{ site.url }}images/favicon-192x192.png" sizes="192x192" />
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.url }}images/favicon-144x144.png" />
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ site.url }}images/favicon-114x114.png" />
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ site.url }}images/favicon-72x72.png" />
	<link rel="apple-touch-icon-precomposed" href="{{ site.url }}images/favicon-192x192.png" />
	<link rel="apple-touch-icon" sizes="180x180" href="{{ site.url }}images/favicon-180x180.png" />
	{# LAUNCH SCREEN IMAGES #}
	{# APP TITLE #}
	<meta name="apple-mobile-web-app-capable" content="yes" />
	{# STATUS BAR #}
	{# ANDROID CHROME MANIFEST #}
	<meta name="viewport" content="width=device-width" />
	<meta property="og:title" content="{{ site.title }}" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="{{ site.url }}" />
	{# OG IMAGE #}
	<meta property="twitter:url" content="{{ site.url }}" />
	<meta property="twitter:title" content="{{ site.title }}" />
	<title>{{ site.title }}</title>
	<meta name="description" content="A simple site that presents RT's ratings in a plain and easy-to-skim format" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css" />
	<link rel="stylesheet" href="{{ site.url }}css/index.css" />
</head>
